/*Home*/
.homeBody{
	margin: 0;
	background-color: black;
}
#homeHeader{
	background-color: aqua;
	padding: 5px;
	margin: 0;
}
#hometext{
	text-align: center;
	font-size: 60px;
	margin: 0;
}
#nav{
	text-align: center;
	
}
#homebutton{
	float: left;
	font-size: 25px;
}
figcaption{
	margin-left: 800px;
	font-size: 40px;
	color:white;
	text-shadow: 5px -2px 12px white;
}
.gifs h1{
	color: white;
	text-align: center;
	font-size: 60px;
	margin-top: 100px;
	text-shadow: 5px -2px 34px white;
}
.gifs img{
	margin: 60px;
	height: 500px;
	width: 500px;
	
}
#Clips{
	margin: 0;
	text-align: center;
	color: #fff;
	margin-top: 70px;
}
label{
	color: white;
}
#homeCenter{
	margin-top: 100px;
}
#but{
	margin-top: 100px;
	color:white;
}

#ps{
	color:white;
}
#audp{
	color:#fff;
	margin-top: 150px;
}
#videp{
	color: #fff;
}

/*About */
#about h1{
	font-size: 100px;
	text-align: center;
}

#about a{
	font-size: 50px;
}

#about p{
	font-size:25px;
	text-align:center;
	font-weight: bold;
}

#aboutTable{
  border: 1px solid;
  text-align: center;
  font-size: 20px;
}



img{
	margin-left: 700px;
	height: 750px;
	width: 500px;
}

#projectheader h1{
	margin-right: 50px;
	font-size: 100px;
	color: blue;
}
.contact{
	font-size: 15px;
	color: black;
	margin-left: 650px;
}

#map h1{
	font-size: 100px;
	margin-left: 500px;
}

#map iframe{
	text-align: clear;
}

#map p{
	font-size:25px;
	font-weight: bold;
}

.mapclass{
	float: left;
}

.Achieved {
	padding-top: 200px;
	font-size: 30px;
}

#htmlheader h1{
	color: green;
	font-size: 50px;
	padding-left: 60px;
	padding-top: 100px;
}

.html{
	float: left;	
	color: green;
}


#jsheader h1{
	padding-top: 120px;
	color: green;
	margin-left: 900px;
	font-size: 50px;
}

.js ul{
	margin-left: 870px;
	color: green;
}

/* coolscenes */
.coolscenes{
	background-color: black;
}
#homeButton{
	margin: 0;
	color: #fff;
	font-size: 50px;
}
