body{
	background: rgb(0,255,200);
}
#nav header nav h1{
	margin-left: 25px;
	font-size: 55px;
	color: white;
}


#nav header h1{
	text-align: center;
	font-size: 110px;
}

#about h1{
	font-size: 100px;
	text-align: center;
}

#about a{
	font-size: 50px;
}

#about p{
	font-size:25px;
	text-align:center;
	font-weight: bold;
}

#nav body a{
	font-size: 55px;
	color: black;
}

img{
	margin-left: 700px;
	height: 750px;
	width: 500px;
}

.contact{
	font-size: 15px;
	color: black;
	margin-left: 650px;
}

#map h1{
	font-size: 100px;
	margin-left: 500px;
}

#map iframe{
	text-align: clear;
}

#map p{
	font-size:25px;
	font-weight: bold;
}