body{
	background-color: #ccc;
	
}

header{
	width: 25%;
	float: left;
}

nav{
	width: 75%;
	float: right;
	margin: 5em 3em 0 0;
}

main{
	clear: left;
	border: solid 1px green;
	background-color: #fff;
	padding: 2%;
	font-size: 1.25em;
}

nav ul{
	list-style-type: none;
	margin: 0;
	text-align: right;

}

li{
	display: inline-block;

}

nav li a{
	display: block;
	color: white;
	text-align: center;
	padding: .5em 1em;
	text-decoration: none;
}

img{
	max-width: 100%;
	display: block;
	
}

footer p{
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer p a{
	color: #fff;
	text-decoration: none;
}

#weights, #cardio, #training{
	width: 29%;
	float: left;
	margin: 0 2%;
}

#exercise{
	clear: left;
	border-top: 1px solid #000;
	border-bottom: 1px solid black;
	background-color: #f2f2f2;
	padding: 1% 2%;
}

#exercise dt{
	font-weight: bold;
}

#exercise dd{
	padding: .5% 1% 2% 0# 
}

#contact{
	text-align: center;
	color: white;
}

#contact a{
	color: #660;
	text-decoration: none;
}

.action{
	font-size: 1.35em;
	color:#660;
	font-weight:bold;
}

.external-link{
	color: #660;
	font-weight: bold;
	text-decoration: none;
}

.map{
	border: 8px solid #000;
}

body, header, nav, main, footer, h1, div, img{
	margin: 0;
	padding: 0;
	border: 0;
	color: white;
}

body{
	background-color: black;
}

a{
	color: white;
}

p{
	color: black;
}